<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAXtmEh1hPJL3fLpwdbbPhcKDRmVpxO1Fg</string>
	<key>GCM_SENDER_ID</key>
	<string>982230669868</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adnankhan.app.collegeDiary</string>
	<key>PROJECT_ID</key>
	<string>finalyearcollegeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>finalyearcollegeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982230669868:ios:35f35c38f9488aab4c4f89</string>
</dict>
</plist>